<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1><font color="white">Fruitful</font></h1>
        <br>
        <p><h3><b><font color="white">Find Seasonal Produce Near You</font></b></font></h3></p>
        <br>
        <%= form_tag({controller: "static_pages", action: "location"}, method: "post") do %>
        <font color = "white" size = "4"> <%= label_tag(:name, "Enter your State:") %> </font>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Submit") %>
         <% if @l == nil %>
        <p> <b><font color="red"><%= flash[:error] %> </font></b></p>
          <% end %>
        <% end %>
    </div>
</header>
<!-- jQuery put here nick-->
<script src="/assets/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/javascripts/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>